<%- include ('../partials/header') %>

<div class="container my-5">
  <header> 
    <h1>Andrew Arpin</h1>
  </header> 
  <p>A little info about me!</p>
  <!--
    insert image requirement removed
    <img src = "andrew.jpg" /> -->
    <p>My name is Andrew Arpin I attend georgian college and am 
      currently in the Computer Programer Anylst program. I'm 19 years old
      and currently live in Barrie but I was born in Scarbrough. Thats a little bit
      about me!
    </p>
</div>

<%- include ('../partials/footer') %>